#first-article{
    font-size: 40px;
}

h1, h2, h3, h4, h5, h6{
    color:#522424;
}

h1{
    font-size: 20px; 
}

p{
   font-size: 20px;
}

.text-red{
    color: red;
}

.text-yellow{
    color: yellow;
}

.fs-14{
font-size: 14px;
}

.fs-20{
font-size: 20px;
}

.fs-30{
    font-size: 30px;
}