body{
    background-color: azure;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif ;
}
h1,h2{

        color:red;
        font-size:32px;
}
    p{
        color: blueviolet;
        font-size: 20px;
    }
ul{
    color: Olive;
    font-size: medium;
}
